@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("global.css");

@import url("sections/header.css");
@import url("sections/main.css");
@import url("sections/footer.css");

/* @import url("responsive.css");   */

:root {
    --roboto: "Roboto", sans-serif;

    --primary-color: 0, 0, 0; 
    --secondary-color: 255, 255, 255; 

    --blue-color: 31, 132, 239;
    --red-color: 227, 7, 60; 
    --yellow-color: 255, 210, 0; 
    --green-color: 6, 224, 127; 

    --headline-font-size: 42px;
    --headline-font-weight: 700;

    --subheadline-font-size: 22px;
    --subheadline-font-weight: 400;

    --body-font-size: 18px;
}
