.header {
    width: 100%;
    min-height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid rgba(var(--primary-color), 0.2);
}

.header__nav {
    width: 100%;
    max-width: 1120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav__logo-img {
    width: 100px;
    height: auto;
}

.nav__logo-title {
    font-size: var(--subheadline-font-size);
}

.nav__auth {
    display: flex;
    gap: 24px;
}

.nav__auth-button {
    padding: 10px;
    font-size: var(--body-font-size);
    border: none;
    border-radius: 10px;
    transition: all 300ms;
    cursor: pointer;
}

.nav__auth-button--signin {
    background-color: transparent;
}

.nav__auth-button--signin:hover {
    background-color: #DDDDDD;
}

.nav__auth-button--signup {
    padding: 10px 20px;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--secondary-color));
}

.nav__auth-button--signup:hover {
    background-color: rgba(var(--primary-color), 0.6);
}

.nav__menu-mobile {
    display: none;
}